DB_CONNECTION_STRING=postgresql://postgres:postgres@postgres:5432/courses?sslmode=disable
AUTH_TOKEN=adminToken
TEST_DATABASE_URL=postgres://postgres@localhost:45432/leti_test?sslmode=disable
MIGRATIONS_PATH=/root/migrations
JWT_SECRET=my-super-secret-jwt-key-32-characters-long