services:
  migrate:
    build: .
    command: ["./migrate", "up"]
    environment:
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      MIGRATIONS_PATH: ${MIGRATIONS_PATH}
    depends_on:
      postgres:
        condition: service_healthy
        
  postgres:
    image: postgres:17.7-alpine
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: courses
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  app:
    build: .
    ports:
      - "8080:8080"
    depends_on:
      migrate:
        condition: service_completed_successfully
    environment:
      DB_CONNECTION_STRING: ${DB_CONNECTION_STRING}
      AUTH_TOKEN: ${AUTH_TOKEN}

volumes:
  postgres_data:

# app -> (wait) -> migrations -> (wait) -> postgres  